.container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  justify-content: space-between;
  align-items: center;

  color: #1c1c1c;
  background-color: transparent;

  border-width: 0;
  border-radius: 3px;

  padding: 20px 25px;
}

.container:hover {
  cursor: pointer;
  background-color: #efefef;
}

.content {
  text-align: left;
}

.icon {
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 0;
}
